### 1. Создайте представление, в которое попадут автомобили стоимостью до 25 000 долларов

In [ ]:
CREATE VIEW Cars_25000 AS
SELECT *
FROM Cars
WHERE Cost < 25000;

### 2. Изменить в существующем представлении порог для стоимости: пусть цена будет до 30 000 долларов (используя оператор ALTER VIEW)

In [ ]:
DROP VIEW IF EXISTS Cars_25000;

CREATE VIEW Cars_30000 AS
SELECT *
FROM Cars
WHERE Cost < 30000;

***ALTER VIEW не работает в MySQL***

### 3. Создайте представление, в котором будут только автомобили марки “Шкода” и “Ауди” (аналогично)

In [ ]:
CREATE VIEW Cars_model AS
SELECT *
FROM Cars
WHERE Name IN ("Skoda", "Audi");

### Вывести название и цену для всех анализов, которые продавались 5 февраля 2020 и всю следующую неделю.
Есть таблица анализов **Analysis**:
**an_id** — ID анализа;
**an_name** — название анализа;
**an_cost** — себестоимость анализа;
**an_price** — розничная цена анализа;
__an_group__ — группа анализов.
Есть таблица групп анализов **Groups**:
**gr_id** — ID группы;
__gr_name__ — название группы;
__gr_temp__ — температурный режим хранения.
Есть таблица заказов __Orders__:
**ord_id** — ID заказа;
**ord_datetime** — дата и время заказа;
**ord_an** — ID анализа.

In [ ]:
SELECT a.an_name, a.an_price
FROM Analysis a
JOIN Orders o ON a.an_id = o.ord_an
WHERE o.ord_datetime BETWEEN "2020-02-05" AND "2020-02-11"

### Добавьте новый столбец под названием «время до следующей станции». Чтобы получить это значение, мы вычитаем время станций для пар смежных станций. Мы можем вычислить это значение без использования оконной функции SQL, но это может быть очень сложно. Проще это сделать с помощью оконной функции LEAD . Эта функция сравнивает значения из одной строки со следующей строкой, чтобы получить результат. В этом случае функция сравнивает значения в столбце «время» для станции со станцией сразу после нее.

In [ ]:
SELECT train_id, station, station_time,
    LEAD(station_time) OVER (PARTITION BY train_id ORDER BY station_time) AS next_station_time, 
    TIME_DIFF(LEAD(station_time) OVER (PARTITION BY train_id ORDER BY station_time), station_time) AS time_to_next_station
FROM Schedule;